@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mini CRM Application</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Requirements:</h2>
        <p>
            Page for each Contact where it lists all annotations that belong to him/her.
        </p>
    </div>
</div>